# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [137]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Read the mouse data and the study results
mouse_metadata = pd.read_csv("data/Mouse_metadata.csv")
study_results = pd.read_csv("data/Study_results.csv")

# Combine the data into a single DataFrame
mouse_study = pd.merge(study_results,mouse_metadata,on="Mouse ID",how='left')

mouse_study.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [138]:
# How many mice are used in the study?
print(mouse_study["Mouse ID"].nunique())

249

In [139]:
# Set Mouse ID and Timepoint as unique ID's
mouse_study = mouse_study.set_index(["Mouse ID", "Timepoint"])

# Check for duplicate indexes, identify mice that have duplicates, using Mouse ID  
mice_duplicates = np.array(mouse_study.index.get_level_values('Mouse ID')[mouse_study.index.duplicated(keep=False)].unique())

print(mice_duplicates)

['g989']

In [140]:
# Identify all the data for the duplicate mouse ID. 
bad_mouse_data = mouse_study[mouse_study.index.get_level_values('Mouse ID').isin(mice_duplicates)]

bad_mouse_data

                    Tumor Volume (mm3)  Metastatic Sites Drug Regimen     Sex  \
Mouse ID Timepoint
g989     0                   45.000000                 0     Propriva  Female
         0                   45.000000                 0     Propriva  Female
         5                   48.786801                 0     Propriva  Female
         5                   47.570392                 0     Propriva  Female
         10                  51.745156                 0     Propriva  Female
         10                  49.880528                 0     Propriva  Female
         15                  51.325852                 1     Propriva  Female
         15                  53.442020                 0     Propriva  Female
         20                  55.326122                 1     Propriva  Female
         20                  54.657650                 1     Propriva  Female
         25                  56.045564                 1     Propriva  Female
         30                  59.082294                 1     Propriva  Female
         35                  62.570880                 2     Propriva  Female

                    Age_months  Weight (g)
Mouse ID Timepoint
g989     0                  21          26
         0                  21          26
         5                  21          26
         5                  21          26
         10                 21          26
         10                 21          26
         15                 21          26
         15                 21          26
         20                 21          26
         20                 21          26
         25                 21          26
         30                 21          26
         35                 21          26

In [141]:
# Create a clean DataFrame by dropping the duplicate mice by Mouse ID.
mouse_study = mouse_study.drop(mouse_study[mouse_study.index.get_level_values('Mouse ID').isin(mice_duplicates)].index)
mouse_study

,,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
Mouse ID,Timepoint,,,,,,
b128,0,45.000000,0,Capomulin,Female,9,22
f932,0,45.000000,0,Ketapril,Male,15,29
g107,0,45.000000,0,Ketapril,Female,2,29
a457,0,45.000000,0,Ketapril,Female,11,30
c819,0,45.000000,0,Ketapril,Male,21,25
...,...,...,...,...,...,...,...
r944,45,41.581521,2,Capomulin,Male,12,25
u364,45,31.023923,3,Capomulin,Male,18,17
p438,45,61.433892,1,Ceftamin,Female,11,26
x773,45,58.634971,4,Placebo,Female,21,30
b879,45,72.555239,2,Stelasyn,Female,4,26

In [142]:
# Check number of mice remaining after duplicates purge. 
print(mouse_study.index.get_level_values('Mouse ID').nunique())

248

## Summary Statistics